:root /* Default vars */
{
    --default-light-blue: #2ebaeb;
    --default-dark-blue: #0026ff;
}

* /* These settings will be aplied over the full page */
{
    margin: 0; 
    padding: 0;
    list-style: none;
    text-decoration: none; 
}

header /* CSS For the HEADER */
{ 
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    position: fixed; 
    top: 0;
    height: 50px;
    width: 100%;
    background-color: var(--default-light-blue);
}

.media-icon-container /* For placing the media icons in the header tag */
{
    display: grid; 
    grid-template-columns: auto auto auto auto auto; 
    background-color: var(--default-light-blue);
    height: 100%; 
    width: 200px; 
    margin: 0 0 0 10%; 
}

.media-icon-container a /* Styling the icons so they don't look terrible */
{
    color: #fff; 
    font-size: 20px; 
    margin: 15px 10px; 
    text-align: center; 
}

.media-icon-container a:hover /* When hovering this style will make it glow */
{
    text-shadow: 0 0 10px #fff; 
}

.header-logo /* The img on the header, This will display on the right of the header */ 
{  
    float: right; 
    margin: 0 10% 0 0;  
}