:root /* Default vars */
{
    --default-green-blue: #00e0c6;
    --default-light-blue: #2ebaeb;
    --default-dark-blue: #0026ff;
    --default-white: #fff;
    --default-black: #282829;
    --default-debug: Red;
    --default-font: "media/fonts/roboto/RobotoCondensed-Regular.ttf";
}

* /* These settings will be aplied over the full page */
{
    margin: 0; 
    padding: 0;
    list-style: none;
    text-decoration: none; 
    font-family: var(--default-font);
}

html 
{
    scroll-behavior: smooth;
}

header /* CSS For the HEADER */
{ 
    z-index: 999;
    transition: top 0.3s; /* Transition effect when sliding down (and up) to make it fancy */
    position: fixed; 
    top: 0;
    height: 40px;
    width: 100%;
    background-color: var(--default-light-blue);
}

.media-icon-container /* For placing the media icons in the header tag */
{
    display: grid; 
    grid-template-columns: auto auto auto auto auto; 
    background-color: #ffffff00;
    height: 100%; 
    width: 200px; 
    margin: 0 0 0 5%; 
}

.fa /* Styling the icons so they don't look terrible */
{
    color: #fff; 
    font-size: 20px; 
    margin: 12px 20px; 
    text-align: center; 
}

.glowup:hover /* When hovering this style will make it glow */
{
    text-shadow: 0 0 10px #fff; 
}

.phone-icon /* Changing the style of the phone icon to place it on the right position */
{
    margin: 12px 10% 0 0; 
    float: right;
}

nav /* CSS for the NAVIGATION */
{
    transition: top 0.3s; /* Transition effect when sliding down (and up) to make it fancy */
    height: 60px;
    width: 100%;
    background-color: var(--default-white);
    position: fixed;
    top: 40px;
    z-index: 999;
}

.nav-logo /* logo in the navigation */
{
    display: none;
    margin: 12px 0 0 5%;
    height: 100%;
}

.pc-devices-logo 
{ display: block; }

.phone-devices-logo
{ display: none; }

.navigation-links-container /* Containter that contains all the page links */
{
    color: var(--default-black);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 550px;
    float: right;
    margin: 20px 9%;
    font-size: 15px;
    column-gap: 20px;
    height: 50%;
}

.nav-link /* Applying to all header links */
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 60%;
}

.default-nav-link /* The style for the links that != to the current page */
{
    color: var(--default-black);
}

.default-nav-link:hover /* Hovering over the links will make them glow up */
{
    color: var(--default-green-blue);
    border-bottom: 1px solid #00e0c6;
    animation-name: createBorder;
    animation-duration: 0.75s;
}

.active-nav-link /* Style for the current page link */
{
    color: var(--default-green-blue);
    font-weight: lighter;
    cursor: not-allowed;
    border-bottom: 2px solid var(--default-green-blue);
}

.dropbtn /* Style for the dropdown menu */
{
    background-color: #ffffff00;
    color: var(--default-black);
    outline:none;
    font-size: 16px;
    border: none;
}
  
.dropdown 
{
    position: relative;
    display: inline-block;
    margin: 0 0 0 20px;
}
    
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: var(--default-green-blue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -30px;
}
  
.dropdown-content a 
{
    color: var(--default-white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #00000000;
    border-top: 1px solid #00000000;
}


  
.dropdown-content a:hover
{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.dropdown:hover .dropdown-content 
{
    display: block;
    animation-name: fadeIn;
    animation-duration: 0.75s;    
}

#container-side-nav /* The sidenav for the page, THis will appear when looking on the phone */
{
    border-top: 2px solid white;
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 12.5vh;
    right: 0;
    background-color: var(--default-black);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
}

#container-side-nav a
{
    color: var(--default-white);
}

.SideBarButton 
{
    float: right;
    font-size: 50px;
    margin: 2.5vh 10%;
    display: none;
    color: var(--default-black);
}

section /* CSS For all the content */
{
    margin-top: 20px;
    width: 100%;
}

.top-banner /* CSS For the top-banner */
{
    position: relative;
    text-align: center;
    width: 100%;
    height: 600px;
}

.top-banner img
{

    width: 100%;
    height: 100%;
}

.banner-text 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text h1
{
    color: white;
    font-size: 8vh;
    font-weight: lighter;
    animation-name: flyIn;
    animation-duration: 2s;
}


.banner-text a
{
    color: var(--default-white);
    font-size: 30px;
    font-weight: lighter;
    text-decoration: none;
    background-color: var(--default-green-blue);
    border-radius: 50%;
    padding: 10px;
}

.banner-text a:hover
{
    color: var(--default-green-blue);
    animation-name: fade-edges;
    background-color: white;
    animation-duration: 1s;
}
.content-containter 
{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 20px;
}

.content-containter div p
{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 30px 0;
}

.content-containter h2 
{
    text-align: center;
}

.content-containter div
{
    margin: 20px 0;
}

.banner 
{
    width: 100%;
}

footer /* CSS for the FOOTER */
{
    padding-top: 25px;
    text-align: center;
    width: 100%;
    height: 175px;
    background-color: var(--default-black);
    color: white;
    text-decoration: none;
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-content-box 
{
    display: grid;
    grid-template-rows: auto auto auto;
}

.footer-content-box a
{
    text-decoration: none;
    color: var(--default-white);
}

/* ALL KEY FRAMES */

/* Chrome, Safari, Opera */
@-webkit-keyframes createBorder 
{ /* Animation for making the border-bottom apear */
    from {border-bottom: 1px solid #00e0c600;} 
    to {border-bottom: 1px solid #00e0c6;}
}

@keyframes createBorder 
{ /* Animation for making the border-bottom apear */
    from {border-bottom: 1px solid #00e0c600;} 
    to {border-bottom: 1px solid #00e0c6;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn
{ /* Animation for making something fade in */
    from {opacity: 0%;} 
    to {opacity: 100%;}
}

@keyframes fadeIn
{ /* Animation for making something fade in */
    from {opacity: 0%;} 
    to {opacity: 100%;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes flyIn /* Making the banner text fly in */
{
    from { margin-top: -2000px; }
    to {margin: none;}
}

@keyframes flyIn /* Making the banner text fly in */
{
    from { margin-top: -2000px; }
    to {margin: none;}
}

 /* Chrome, Safari, Opera */
@-webkit-keyframes fade-edges /* Making the button change color at the homepage */ 
{
    from 
    {
        color: white;
        background-color: var(--default-green-blue);
    }
    to 
    {
        color: var(--default-green-blue);
        background-color: var(--default-white);
    }
}


@keyframes fade-edges /* Making the button change color at the homepage */ 
{
    from 
    {
        color: white;
        background-color: var(--default-green-blue);
    }
    to 
    {
        color: var(--default-green-blue);
        background-color: var(--default-white);
    }
}


@media only screen and (max-width: 950px) /* This will prefent the page from disrubting when going under 950px width */
{

    header /* CSS For the HEADER */
    { 
        height: 50px;
    }

    .fa /* Styling the icons so they don't look terrible */
    {
        font-size: 15px; 
        margin: 2.6vh 0.5vh; 
        text-align: center; 
    }
    
    .phone-icon /* Changing the style of the phone icon to place it on the right position */
    {
        margin: 2.5vh 5% 0 0; 
    }

    .pc-devices-logo 
    { display: none; }

    .phone-devices-logo
    { display: block; }

    .media-icon-container
    {
        width: 150px; 
        margin: 0 0 0 1%; 
    }

    nav /* CSS for the NAVIGATION */
    {
        height: 90px;
    }

    .nav-logo /* logo in the navigation */
    {
        display: none;
        margin: 12px 0 0 2.5%;
        height: 60px;
    }

    .navigation-links-container
    {
        display: none;
    }

    .SideBarButton 
    {
        display: block;
    }

    /* CSS CONTENT */
    
    .content-containter 
    {
        grid-template-columns: auto;
    }

    /* CSS FOOTER */

    footer
    {
        bottom: 0;
    }

    footer *
    {
        font-size: 15px;
    }

}
